body {
    margin: 0;
    background-size: contain;
    background-color: #ffffff;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1456px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/* menu field */

.menu {
    margin-top: 0;
    margin-bottom: 0;
}

.menu li {
    float: left;
    list-style: none;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}

.menu div {
    float: left;
    list-style: none;
}

.menu li a {
    text-decoration: none;
}


/* HEADER */

header {
    position: relative;
    background-image: url(../image/Header_Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1056px;
}

header .menu {
    float: right;
    margin-bottom: 30px;
    margin-top: 68px;
    margin-right: 58px;
}

header .menu li {
    margin-left: 63px;
}

header .menu li a {
    color: #ffffff;
}

header h1 {
    float: left;
    margin-top: 350px;
    margin-left: 107px;
    position: absolute;
    color: #ffffff;
    font-family: Reey;
    font-size: 92px;
    font-weight: 400;
}

header h2 {
    float: left;
    margin-top: 590px;
    margin-left: 102px;
    position: absolute;
    color: #ffffff;
    font-family: "Open Sans-Italic";
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4.61px;
}

header p[id="text_1"] {
    float: left;
    margin-top: 749px;
    margin-left: 102px;
    position: absolute;
    color: #ffffff;
    font-family: "Open Sans-Italic";
    font-size: 21px;
    font-weight: lighter;
    opacity: 0.9;
}


/* button "READ MORE" */

header div[id="button"] {
    position: absolute;
    margin-top: 676px;
    margin-left: 102px;
}

header button {
    /* position: absolute;
    margin-top: 676px;
    margin-left: 102px; */
    width: 218px;
    height: 47px;
    background-color: #ffffff;
    opacity: 0.9;
    border-radius: 22px;
    border: 0;
    cursor: pointer;
    color: #2e3034;
    font-family: "Open Sans-Extrabold";
    font-size: 25px;
    text-transform: uppercase;
}

.header button:active {
    position: absolute;
}


/* image logo and  */

header div[id="logo"] {
    position: absolute;
    width: 136px;
    height: 109px;
    margin-top: 196px;
    margin-left: 107px;
    z-index: 1;
    background-image: url(../image/Place_Your_Logo_Here_\(Double_Click_to_Edit\).png);
}

header div[id="meal_1"] {
    position: absolute;
    width: 632px;
    height: 620px;
    margin-left: 762px;
    margin-top: 248px;
    z-index: 2;
    background-image: url(../image/Place_Your_Image_Here_\(Double_Click_to_Edit\).png);
}

header div[id="meal_2"] {
    position: absolute;
    width: 293px;
    height: 290px;
    margin-top: 723px;
    margin-left: 628px;
    z-index: 2;
    background-image: url(../image/Place_Your_Image_Here_\(Double_Click_to_Edit\)_.png);
}


/* seach field */

form {
    position: relative;
    top: -10px;
    width: 183px;
    height: 51px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    outline: 0;
    border: 0;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    outline: 0;
    border: 4px solid white;
    background-image: url(../image/Search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
    top: 0;
    right: 0;
    border-radius: 50%;
    text-align: center;
    font-size: 1.2em;
}

form:hover {
    cursor: pointer;
}

form:hover input {
    display: block;
}

form:hover .fa {
    color: white;
}


/*  */


/* GROUP 1 */

group_1 {
    position: relative;
    min-height: 1117px;
    margin-top: 35px;
}

group_1 h1[id="head"] {
    padding-top: 35px;
    color: #222328;
    font-family: "Reey";
    font-size: 75px;
    font-weight: 400;
}

group_1 p[id="head text"] {
    color: #2f3135;
    font-family: "Open Sans";
    font-size: 27px;
    font-weight: 400;
}

group_1 .menu {
    width: 1440px;
    padding-bottom: 30px;
    padding-top: 68px;
    padding-right: 176px;
}

group_1 .menu div[id="conteiner"] {
    margin-left: 97px;
    cursor: pointer;
}

group_1 .menu div[id="one"],
[id="two"],
[id="three"] {
    width: 334px;
    height: 322px;
    background-size: contain;
    background-repeat: no-repeat;
}

group_1 p[id="menu head text"],
[id="menu text"] {
    text-align: left;
    color: #343434;
    font-family: "Open Sans";
}

group_1 p[id="menu head text"] {
    font-size: 29px;
    font-weight: 700;
    margin-top: 63px;
    margin-left: 27px;
}

group_1 p[id="menu text"] {
    font-size: 23px;
    margin-left: 26px;
}

group_1 button {
    width: 334px;
    height: 75px;
    margin-top: 122px;
    margin-bottom: 50px;
    background-color: #343434;
    border-radius: 100px;
    border: 0;
    cursor: pointer;
    color: #ffffff;
    font-family: "Open Sans-Extrabold";
    font-size: 25px;
    text-transform: uppercase;
}


/* GROUP 2 */

group_2 {
    position: relative;
    background-color: #27292c;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 560px;
    align-items: center;
}

group_2 h1[id="head"] {
    align-self: star;
    padding-top: 78px;
    /* margin-left: 315px; */
    color: #ffffff;
    font-family: "Reey";
    font-size: 75px;
    font-weight: 400;
}

group_2 p[id="head text"] {
    color: #2f3135;
    font-family: "Open Sans";
    font-size: 27px;
    font-weight: 400;
}

group_2 .row {
    display: flex;
}

group_2 .column {
    padding-top: 54px;
    flex: 50%;
    text-align: left;
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 17px;
    font-weight: 400;
    line-height: 25.83px;
    /* Text style for "," */
    font-size: 19px;
}

group_2 button {
    width: 271px;
    height: 58px;
    margin-top: 75px;
    margin-bottom: 71px;
    background-color: #fefefe;
    opacity: 0.9;
    border-radius: 22px;
    border: 0;
    cursor: pointer;
    color: #27292c;
    font-family: "Open Sans-Extrabold";
    font-size: 25px;
    text-transform: uppercase;
}

group_3 {
    position: relative;
    min-height: 1513pxpx;
}

group_3 .row {
    display: flex;
}

group_3 .column {
    padding-top: 54px;
    flex: 50%;
    text-align: left;
}

group_3 .column h1 {
    color: #27292c;
    font-family: "Open Sans-Extrabold";
    font-size: 58px;
    font-weight: 700;
    text-align: left;
}

group_3 .column p {
    color: #27292c;
    font-family: "Open Sans";
    font-size: 29px;
    font-weight: 700;
}

group_3 button {
    width: 334px;
    height: 75px;
    margin-top: 75px;
    margin-bottom: 71px;
    background-color: #27292c;
    border-radius: 100px;
    border: 0;
    cursor: pointer;
    font-family: "Open Sans-Extrabold";
    color: #ffffff;
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
}


/*  */

@font-face {
    font-family: Reey;
    /* Гарнитура шрифта */
    src: url(../font/Reey-Regular.otf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Open Sans;
    /* Гарнитура шрифта */
    src: url(../font/OpenSans-Light.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Open Sans-Extrabold;
    /* Гарнитура шрифта */
    src: url(../font/OpenSans-ExtraBold.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Open Sans-Italic;
    /* Гарнитура шрифта */
    src: url(../font/OpenSans-Italic.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Monserrat;
    /* Гарнитура шрифта */
    src: url(../font/montserrat.ttf);
    /* Путь к файлу со шрифтом */
}