body {
    margin: 0;
    background-size: contain;
    background-color: #ffffff;
}


/* .header {
    background-image: url(image/Header_Background.png);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    min-height: 1000px;
    text-align: center;
    clear: both;
    padding-top: 50px;
    padding-bottom: 50px;
} */

.container {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/* ONE GROUP */


/* menu field */

.brand {
    font-size: 30px;
}

.menu {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.menu li {
    float: left;
    list-style: none;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}

.menu li a {
    text-decoration: none;
}


/* Header */

header {
    background-image: url(image/Header_Background.png);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    min-height: 1000px;
    text-align: center;
    clear: both;
}

header .image {
    float: left;
}

header .image img {
    margin-top: 196px;
    margin-left: 107px;
}

header .menu {
    float: right;
    margin-bottom: 30px;
    margin-top: 68px;
    margin-right: 58px;
}

header .menu li {
    margin-left: 63px;
}

header .menu li a {
    color: #ffffff;
}

header h1 {
    float: left;
    margin-top: 328px;
    color: #ffffff;
    font-family: "Reey";
    font-size: 75px;
    font-weight: 400;
}


/* seach field */

form {
    position: relative;
    top: -10px;
    width: 183px;
    height: 51px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    outline: 0;
    border: 0;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    outline: 0;
    border: 4px solid white;
    background-image: url(image/Search.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    background-color: #ffffff;
    top: 0;
    right: 0;
    border-radius: 50%;
    text-align: center;
    font-size: 1.2em;
}

form:hover {
    cursor: pointer;
}

form:hover input {
    display: block;
}

form:hover .fa {
    color: white;
}


/*  */


/* TWO GROUP */

.loremlist {
    padding-top: 50px;
    padding-bottom: 50px;
}

.title_h1 {
    color: #222328;
    font-family: "Reey";
    font-size: 75px;
    font-weight: 400;
}

.title_h2 {
    color: #2f3135;
    font-family: "Open Sans";
    font-size: 27px;
    font-weight: 400;
}


/*  */

@font-face {
    font-family: Reey;
    /* Гарнитура шрифта */
    src: url(font/Reey-Regular.otf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Open Sans;
    /* Гарнитура шрифта */
    src: url(font/OpenSans-Light.ttf);
    /* Путь к файлу со шрифтом */
}